{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pang - GAME 2024</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <script type='text/javascript' src='//pl25839564.effectiveratecpm.com/9a/87/11/9a871122b56b79289be299dfb485025d.js'></script>
    <div class="container">
        <h1>Welcome to PangClone!</h1>
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <label for="username">Enter your username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit" class="custom-green-btn">Start Game</button>
            <button type="button" onclick="window.location.href='{% url 'pang_scores_list' %}'"class="custom-green-btn">View Rankings</button>
        </form>
    </div>
</body>
</html>

